/* Max Width 1200 PX */
@media all and (max-width: 1200px){
	.header-nav nav ul li a{
		padding: 0 20px;
	}
	
}
/* Max Width 991 PX */
@media all and (min-width: 992px){
	.header-nav nav ul{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
}
@media all and (max-width: 991px){
	.menu-bar {
		display: block;
		background: #1F197C;
		border-radius: 5px;
		width: 53px;
		height: 44px;
  	}
	.header-logo {
		margin-left: 26%;
  	}
	.header-nav nav ul{
		background: #16163F;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack:center;
		    -ms-flex-pack:center;
		        justify-content:center;
		-webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 129%;
		z-index: 9999;
		text-align: center;
		display: none;
	}
	.header-nav nav ul li{
		width: 100%;
	}
	.header-nav nav ul li a {
		display: block;
		border-top: .5px solid #e5e3e31a;
		padding: 15px 0;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
  }
	.header-nav nav ul li:hover a{
		background-color:#16163fdc;
	}
	.header-nav nav ul li:last-child a{
		border-bottom: 0;
	}

	/*Start Mobile Menu icon*/
	#toggleNav-icon{
		width: 28px;
		height: 23px;
		position: relative;
		margin: 0px;
		-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		top: 30%;
    	left: 24%;
	}
	#toggleNav-icon span{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: rgba(255, 255, 255, 0.815);
		border-radius: 0px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
				transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#toggleNav-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
			-ms-transform-origin: left center;
				transform-origin: left center;
	}
	#toggleNav-icon span:nth-child(2) {
		top: 8px;
		-webkit-transform-origin: left center;
			-ms-transform-origin: left center;
				transform-origin: left center;
	}
	#toggleNav-icon span:nth-child(3) {
		top: 16px;
		-webkit-transform-origin: left center;
			-ms-transform-origin: left center;
				transform-origin: left center;
	}
	#toggleNav-icon.open span:nth-child(1) {
		-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
				transform: rotate(45deg);
		top: -2px;
		left: 2px;
	}
	#toggleNav-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
	}
	#toggleNav-icon.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
		top: 18px;
		left: 2px;
	}
	/*End Mobile Menu icon*/

	.header-area {
		background: #302A8E;
		padding: 12px 0;
  }
  .banner-title h1::before,
  .banner-title h1::after  {
		width: 29%;
	}
	.banner-title h1 {
		font-size: 25px;
  }
  .section-title::before {
    font-size: 25px;
  }
  .contact-banner {
    padding-top: 40px;
  }
  .footer-middle-item {
    max-width: 325px;
  }
  .partner-checker-items {
		max-width: 100%;
		margin: auto;
	}
  .race-left-head{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .race-tags{
    padding-left: 0;
    margin-top: 7px;
  }
  .race-left-head ul li {
    margin-right: 10px;
    margin-left: 0;
  }
	.mas-post-item {
    grid-gap: 10px; 
  }
}
/* Max Width 768 PX */
@media all and (max-width: 768px){	
	.banner-title h1::before,
  	.banner-title h1::after  {
		width: 22%;
	}
  .banner-title {
    padding-top: 30px;
  }
  .hero-section-title {
		margin-top: 30px;
		margin-bottom: 0px;
	}
  .section-title::before {
    font-size: 19px;
  }
  .contact-banner {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .footer-item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-area {
    margin-top: 30px;
  }
  .home-hero-area{
	position: relative;
	z-index: 1;
  }
  .home-hero-area::before {
		content: "";
		background: url(../images/banner/banner.png)no-repeat scroll center center/ cover;
		position: absolute;
		width: 100%;
		height: 642px;
		top: -28px;
		left: 0;
		z-index: -1;
	}
	.hero-inner-text .owl-carousel .owl-item img {
		display: block;
		width: 100%;
		height: 430px;
  }
  .hero-inner-text {
		background: none;
		width: 100%;
	}
	.hero-breed {
		margin-top: 25px;
  }
  .contact-owlCarousel .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
		margin-left: 0;
	}
  .hero-carousel .owl-nav button.owl-next {
      margin-right: 0;
  }
  .hero-inner-text .view-btn-contact a {
    background: inherit;
    border: 1px solid #232359;
  }
  .race-replays {
    padding-bottom: 25px;
    padding-top: 20px;
  }
  .home-newcomers.newcomers-area .owl-nav {
    width: 100%;
  }
  .newcomers-area .view-btn-contact {
    display: none;
  }
  .ultimas-title h3::before{
    left: 50%;
    padding:0 10px;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    font-size: 23px;
  }
  .ultimas-title p {
    margin: auto;
    text-align: center;
  }
  .mas-items {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .mas-items .banner-title{
    margin-bottom: 20px;
  }
  .ultimas-sm h3{
    font-size: 20px;
  }
}
/* Max Width 768 PX */
@media all and (max-width:575px){
	.contact-top{
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px 0px;
	}
	.banner-title h1::before,
  .banner-title h1::after  {
		width: 27%;
	}
	.banner-title h1 {
		font-size: 25px;
  }
  .contact-owlCarousel .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    margin-left: 0;
  }
  .contact-owlCarousel button.owl-next {
    margin-right: 7px;
  }
  .banner-title {
    padding-top: 10px;
  }
  .hero-inner-text .owl-carousel .owl-item img {
		display: block;
		width: 100%;
		height: 300px;
	}
	.hero-area::before {
		height: 500px !important;
	}
  .banner-offer {
    margin-top: 25px;
  }
  .banner-title-sm{
    display: block;
  }
  .banner-title-lg{
    display: none;
  }
  .partner-checker {
    text-align: center;
    margin-top: 35px;
  }
  .race-replays {
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .newcomers-area {
    padding-bottom: 50px;
  }
  .mas-post-item {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2,1fr);
  }
  .mas-items .banner-title{
    margin-top: 20px;
  }
  .ultimas-twitter {
    margin-bottom: 50px;
  }
  .ultimas-title h3::before {
    font-size: 20px;
    text-align: center;
  }
  .contact-banner-sm h1::before, .contact-banner-sm h1::after {
    width: 20%;
  }

}


@media all and (max-width:450px){
	.banner-title h1{
		font-size: 20px;
	}
	.banner-title p{
		font-size: 14px;
	}
	.header-social{
		display: none;
	}
	.header-wrapper{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}
	.header-logo{
		margin-left: -25px;
	}
	.hero-section-title img{
		display: none;
	}
	.hero-section-title .mobile-hero{
		display: block;
		margin: auto;
	}
	.contact-banner{
		background: #000427;
	}
	.hero-inner-text .owl-carousel .owl-item img {
		display: block;
		width: 100%;
		height: 250px;
	}
  .mas-post-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1,1fr);
  }
  .mas-single-item img {
    width: 100%;
  }
  .banner-title h1::before,
  .banner-title h1::after  {
		width: 20%;
	}
}
